# 基本的なルール
- このプロジェクトでは日本語であなたと私はコミュニケーションをとります

# 作業の流れ
これはマジで重要だ！！！！

作業は以下の流れでかならず行なわれなければならない

- 指示にたいしてあなたは計画をつくり、私に提案する
  - 私が計画を承認するまであなたは何度もやりとりしなければならない！！！！！！！！！！！！
- 実装をする
- 必要な方法で実装結果を確認する
- 私に「終わっていいか？」と確認する
  - 私がOKを出すまで終わってはいけない!!!!!!!!!ここでいろいろやりなおしたり確認しよう！！勝手に終わるな！！！！！！！！
- ドキュメントを更新し、gitにコミットする

## 終わるときのドキュメントの更新について
- CHANGELOG.md に追記する
  - これはなるべく簡略にかく
- docs 以下を必要であれば更新する
- 図が必要ならば mermaid で書く

# 作業時に注意すべきこと
- あなたは、私に指示された一つのことだけをタスクで実行すべきです。指示から想像される他のことは勝手に行なうべきではありません。
- dataディレクトリ以下のファイルをみるとき、かならず先にファイルサイズを確認してください。巨大なファイルがあるかもしれません
  - 巨大なファイルは見ていいかこちらに確認してください
- request.md は絶対に編集してはいけない

# 参考情報
- docs/env.md に設定値などがあります
- samplecode/ に参考になるコードがあるかもしれません

# もっかい重要な指示を繰り返す
- 勝手に作業するな！！計画を示して俺の許可を取れ！！！
- 勝手に作業を終わったと思うな！！！！俺の確認をとってからやりとりして確実に終わりってなってから終わりにしろ！！！！！
- こうした確認をとるとき必ずちゃんとやりとりして俺の確認を確実にとれ！！！！！！！！！！！
